{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://cur.amazonaws.com/"
        },
        {
            "url": "http://cur.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p>The AWS Cost and Usage Report API enables you to programmatically create, query, and delete AWS Cost and Usage report definitions.</p> <p>AWS Cost and Usage reports track the monthly AWS costs and usage associated with your AWS account. The report contains line items for each unique combination of AWS product, usage type, and operation that your AWS account uses. You can configure the AWS Cost and Usage report to show only the data that you want, using the AWS Cost and Usage API.</p> <p>Service Endpoint</p> <p>The AWS Cost and Usage Report API provides the following endpoint:</p> <ul> <li> <p>cur.us-east-1.amazonaws.com</p> </li> </ul>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Cost and Usage Report Service",
        "version": "2017-01-06",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cur-2017-01-06.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "cur"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/cur/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes the specified report.",
                "operationId": "DeleteReportDefinition",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "If the action is successful, the service sends back an HTTP 200 response.",
                                    "properties": {
                                        "ResponseMessage": {
                                            "description": "Whether the deletion was successful or not.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Deletes the specified report.",
                                "example": {
                                    "ReportName": "ExampleReport"
                                },
                                "properties": {
                                    "ReportName": {
                                        "description": "The name of the report that you want to create. The name must be unique, is case sensitive, and can't include spaces. ",
                                        "maxLength": 256,
                                        "pattern": "[0-9A-Za-z!\\-_.*\\'()]+",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeReportDefinitions": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Lists the AWS Cost and Usage reports available to this account.",
                "operationId": "DescribeReportDefinitions",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "MaxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "NextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "If the action is successful, the service sends back an HTTP 200 response.",
                                    "example": {
                                        "ReportDefinitions": [
                                            {
                                                "AdditionalArtifacts": [
                                                    "QUICKSIGHT"
                                                ],
                                                "AdditionalSchemaElements": [
                                                    "RESOURCES"
                                                ],
                                                "Compression": "GZIP",
                                                "Format": "textORcsv",
                                                "ReportName": "ExampleReport",
                                                "S3Bucket": "example-s3-bucket",
                                                "S3Prefix": "exampleprefix",
                                                "S3Region": "us-east-1",
                                                "TimeUnit": "HOURLY"
                                            },
                                            {
                                                "AdditionalArtifacts": [
                                                    "QUICKSIGHT"
                                                ],
                                                "AdditionalSchemaElements": [
                                                    "RESOURCES"
                                                ],
                                                "Compression": "GZIP",
                                                "Format": "textORcsv",
                                                "ReportName": "ExampleReport2",
                                                "S3Bucket": "example-s3-bucket",
                                                "S3Prefix": "exampleprefix",
                                                "S3Region": "us-east-1",
                                                "TimeUnit": "HOURLY"
                                            }
                                        ]
                                    },
                                    "properties": {
                                        "NextToken": {
                                            "description": "A generic string.",
                                            "type": "string"
                                        },
                                        "ReportDefinitions": {
                                            "description": "A list of AWS Cost and Usage reports owned by the account.",
                                            "items": {
                                                "description": "The definition of AWS Cost and Usage Report. You can specify the report name, time unit, report format, compression format, S3 bucket, additional artifacts, and schema elements in the definition. ",
                                                "properties": {
                                                    "AdditionalArtifacts": {
                                                        "description": "A list of manifests that you want Amazon Web Services to create for this report.",
                                                        "items": {
                                                            "description": "The types of manifest that you want AWS to create for this report.",
                                                            "enum": [
                                                                "REDSHIFT",
                                                                "QUICKSIGHT",
                                                                "ATHENA"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "AdditionalSchemaElements": {
                                                        "description": "A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs. ",
                                                        "items": {
                                                            "description": "Whether or not AWS includes resource IDs in the report. ",
                                                            "enum": [
                                                                "RESOURCES"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Compression": {
                                                        "description": "The compression format that AWS uses for the report.",
                                                        "enum": [
                                                            "ZIP",
                                                            "GZIP",
                                                            "Parquet"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "Format": {
                                                        "description": "The format that AWS saves the report in.",
                                                        "enum": [
                                                            "textORcsv",
                                                            "Parquet"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "RefreshClosedReports": {
                                                        "description": "Whether you want Amazon Web Services to update your reports after they have been finalized if Amazon Web Services detects charges related to previous months. These charges can include refunds, credits, or support fees.",
                                                        "type": "boolean"
                                                    },
                                                    "ReportName": {
                                                        "description": "The name of the report that you want to create. The name must be unique, is case sensitive, and can't include spaces. ",
                                                        "maxLength": 256,
                                                        "pattern": "[0-9A-Za-z!\\-_.*\\'()]+",
                                                        "type": "string"
                                                    },
                                                    "ReportVersioning": {
                                                        "description": "Whether you want Amazon Web Services to overwrite the previous version of each report or to deliver the report in addition to the previous versions.",
                                                        "enum": [
                                                            "CREATE_NEW_REPORT",
                                                            "OVERWRITE_REPORT"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "S3Bucket": {
                                                        "description": "The S3 bucket where AWS delivers the report.",
                                                        "maxLength": 256,
                                                        "type": "string"
                                                    },
                                                    "S3Prefix": {
                                                        "description": "The prefix that AWS adds to the report name when AWS delivers the report. Your prefix can't include spaces.",
                                                        "maxLength": 256,
                                                        "pattern": "[0-9A-Za-z!\\-_.*\\'()/]*",
                                                        "type": "string"
                                                    },
                                                    "S3Region": {
                                                        "description": "The region of the S3 bucket that AWS delivers the report into.",
                                                        "enum": [
                                                            "us-east-1",
                                                            "us-west-1",
                                                            "us-west-2",
                                                            "eu-central-1",
                                                            "eu-west-1",
                                                            "ap-southeast-1",
                                                            "ap-southeast-2",
                                                            "ap-northeast-1",
                                                            "eu-north-1",
                                                            "ap-northeast-3"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "TimeUnit": {
                                                        "description": "The length of time covered by the report. ",
                                                        "enum": [
                                                            "HOURLY",
                                                            "DAILY"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "ReportName",
                                                    "TimeUnit",
                                                    "Format",
                                                    "Compression",
                                                    "AdditionalSchemaElements",
                                                    "S3Bucket",
                                                    "S3Prefix",
                                                    "S3Region"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Requests a list of AWS Cost and Usage reports owned by the account.",
                                "example": {
                                    "MaxResults": 5
                                },
                                "properties": {
                                    "MaxResults": {
                                        "description": "The maximum number of results that AWS returns for the operation.",
                                        "maximum": 5,
                                        "minimum": 5,
                                        "type": "integer"
                                    },
                                    "NextToken": {
                                        "description": "A generic string.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#PutReportDefinition": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a new report using the description that you provide.",
                "operationId": "PutReportDefinition",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "If the action is successful, the service sends back an HTTP 200 response with an empty HTTP body.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DuplicateReportNameException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ReportLimitReachedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Creates a Cost and Usage Report.",
                                "example": {
                                    "ReportDefinition": {
                                        "AdditionalArtifacts": [
                                            "REDSHIFT",
                                            "QUICKSIGHT"
                                        ],
                                        "AdditionalSchemaElements": [
                                            "RESOURCES"
                                        ],
                                        "Compression": "ZIP",
                                        "Format": "textORcsv",
                                        "ReportName": "ExampleReport",
                                        "S3Bucket": "example-s3-bucket",
                                        "S3Prefix": "exampleprefix",
                                        "S3Region": "us-east-1",
                                        "TimeUnit": "DAILY"
                                    }
                                },
                                "properties": {
                                    "ReportDefinition": {
                                        "description": "Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information. ",
                                        "properties": {
                                            "AdditionalArtifacts": {
                                                "description": "A list of manifests that you want Amazon Web Services to create for this report.",
                                                "items": {
                                                    "description": "The types of manifest that you want AWS to create for this report.",
                                                    "enum": [
                                                        "REDSHIFT",
                                                        "QUICKSIGHT",
                                                        "ATHENA"
                                                    ],
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "AdditionalSchemaElements": {
                                                "description": "A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs. ",
                                                "items": {
                                                    "description": "Whether or not AWS includes resource IDs in the report. ",
                                                    "enum": [
                                                        "RESOURCES"
                                                    ],
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "Compression": {
                                                "description": "The compression format that AWS uses for the report.",
                                                "enum": [
                                                    "ZIP",
                                                    "GZIP",
                                                    "Parquet"
                                                ],
                                                "type": "string"
                                            },
                                            "Format": {
                                                "description": "The format that AWS saves the report in.",
                                                "enum": [
                                                    "textORcsv",
                                                    "Parquet"
                                                ],
                                                "type": "string"
                                            },
                                            "RefreshClosedReports": {
                                                "description": "Whether you want Amazon Web Services to update your reports after they have been finalized if Amazon Web Services detects charges related to previous months. These charges can include refunds, credits, or support fees.",
                                                "type": "boolean"
                                            },
                                            "ReportName": {
                                                "description": "The name of the report that you want to create. The name must be unique, is case sensitive, and can't include spaces. ",
                                                "maxLength": 256,
                                                "pattern": "[0-9A-Za-z!\\-_.*\\'()]+",
                                                "type": "string"
                                            },
                                            "ReportVersioning": {
                                                "description": "Whether you want Amazon Web Services to overwrite the previous version of each report or to deliver the report in addition to the previous versions.",
                                                "enum": [
                                                    "CREATE_NEW_REPORT",
                                                    "OVERWRITE_REPORT"
                                                ],
                                                "type": "string"
                                            },
                                            "S3Bucket": {
                                                "description": "The S3 bucket where AWS delivers the report.",
                                                "maxLength": 256,
                                                "type": "string"
                                            },
                                            "S3Prefix": {
                                                "description": "The prefix that AWS adds to the report name when AWS delivers the report. Your prefix can't include spaces.",
                                                "maxLength": 256,
                                                "pattern": "[0-9A-Za-z!\\-_.*\\'()/]*",
                                                "type": "string"
                                            },
                                            "S3Region": {
                                                "description": "The region of the S3 bucket that AWS delivers the report into.",
                                                "enum": [
                                                    "us-east-1",
                                                    "us-west-1",
                                                    "us-west-2",
                                                    "eu-central-1",
                                                    "eu-west-1",
                                                    "ap-southeast-1",
                                                    "ap-southeast-2",
                                                    "ap-northeast-1",
                                                    "eu-north-1",
                                                    "ap-northeast-3"
                                                ],
                                                "type": "string"
                                            },
                                            "TimeUnit": {
                                                "description": "The length of time covered by the report. ",
                                                "enum": [
                                                    "HOURLY",
                                                    "DAILY"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "ReportName",
                                            "TimeUnit",
                                            "Format",
                                            "Compression",
                                            "AdditionalSchemaElements",
                                            "S3Bucket",
                                            "S3Prefix",
                                            "S3Region"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "ReportDefinition"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AWSRegion": {
                "description": "The region of the S3 bucket that AWS delivers the report into.",
                "enum": [
                    "us-east-1",
                    "us-west-1",
                    "us-west-2",
                    "eu-central-1",
                    "eu-west-1",
                    "ap-southeast-1",
                    "ap-southeast-2",
                    "ap-northeast-1",
                    "eu-north-1",
                    "ap-northeast-3"
                ],
                "type": "string"
            },
            "AdditionalArtifact": {
                "description": "The types of manifest that you want AWS to create for this report.",
                "enum": [
                    "REDSHIFT",
                    "QUICKSIGHT",
                    "ATHENA"
                ],
                "type": "string"
            },
            "AdditionalArtifactList": {
                "description": "A list of additional artifacts.",
                "items": {
                    "description": "The types of manifest that you want AWS to create for this report.",
                    "enum": [
                        "REDSHIFT",
                        "QUICKSIGHT",
                        "ATHENA"
                    ],
                    "type": "string"
                },
                "type": "array"
            },
            "CompressionFormat": {
                "description": "The compression format that AWS uses for the report.",
                "enum": [
                    "ZIP",
                    "GZIP",
                    "Parquet"
                ],
                "type": "string"
            },
            "DeleteReportDefinitionRequest": {
                "description": "Deletes the specified report.",
                "example": {
                    "ReportName": "ExampleReport"
                },
                "properties": {
                    "ReportName": {
                        "description": "The name of the report that you want to create. The name must be unique, is case sensitive, and can't include spaces. ",
                        "maxLength": 256,
                        "pattern": "[0-9A-Za-z!\\-_.*\\'()]+",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "DeleteReportDefinitionResponse": {
                "description": "If the action is successful, the service sends back an HTTP 200 response.",
                "properties": {
                    "ResponseMessage": {
                        "description": "Whether the deletion was successful or not.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "DeleteResponseMessage": {
                "description": "Whether the deletion was successful or not.",
                "type": "string"
            },
            "DescribeReportDefinitionsRequest": {
                "description": "Requests a list of AWS Cost and Usage reports owned by the account.",
                "example": {
                    "MaxResults": 5
                },
                "properties": {
                    "MaxResults": {
                        "description": "The maximum number of results that AWS returns for the operation.",
                        "maximum": 5,
                        "minimum": 5,
                        "type": "integer"
                    },
                    "NextToken": {
                        "description": "A generic string.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "DescribeReportDefinitionsResponse": {
                "description": "If the action is successful, the service sends back an HTTP 200 response.",
                "example": {
                    "ReportDefinitions": [
                        {
                            "AdditionalArtifacts": [
                                "QUICKSIGHT"
                            ],
                            "AdditionalSchemaElements": [
                                "RESOURCES"
                            ],
                            "Compression": "GZIP",
                            "Format": "textORcsv",
                            "ReportName": "ExampleReport",
                            "S3Bucket": "example-s3-bucket",
                            "S3Prefix": "exampleprefix",
                            "S3Region": "us-east-1",
                            "TimeUnit": "HOURLY"
                        },
                        {
                            "AdditionalArtifacts": [
                                "QUICKSIGHT"
                            ],
                            "AdditionalSchemaElements": [
                                "RESOURCES"
                            ],
                            "Compression": "GZIP",
                            "Format": "textORcsv",
                            "ReportName": "ExampleReport2",
                            "S3Bucket": "example-s3-bucket",
                            "S3Prefix": "exampleprefix",
                            "S3Region": "us-east-1",
                            "TimeUnit": "HOURLY"
                        }
                    ]
                },
                "properties": {
                    "NextToken": {
                        "description": "A generic string.",
                        "type": "string"
                    },
                    "ReportDefinitions": {
                        "description": "A list of AWS Cost and Usage reports owned by the account.",
                        "items": {
                            "description": "The definition of AWS Cost and Usage Report. You can specify the report name, time unit, report format, compression format, S3 bucket, additional artifacts, and schema elements in the definition. ",
                            "properties": {
                                "AdditionalArtifacts": {
                                    "description": "A list of manifests that you want Amazon Web Services to create for this report.",
                                    "items": {
                                        "description": "The types of manifest that you want AWS to create for this report.",
                                        "enum": [
                                            "REDSHIFT",
                                            "QUICKSIGHT",
                                            "ATHENA"
                                        ],
                                        "type": "string"
                                    },
                                    "type": "array"
                                },
                                "AdditionalSchemaElements": {
                                    "description": "A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs. ",
                                    "items": {
                                        "description": "Whether or not AWS includes resource IDs in the report. ",
                                        "enum": [
                                            "RESOURCES"
                                        ],
                                        "type": "string"
                                    },
                                    "type": "array"
                                },
                                "Compression": {
                                    "description": "The compression format that AWS uses for the report.",
                                    "enum": [
                                        "ZIP",
                                        "GZIP",
                                        "Parquet"
                                    ],
                                    "type": "string"
                                },
                                "Format": {
                                    "description": "The format that AWS saves the report in.",
                                    "enum": [
                                        "textORcsv",
                                        "Parquet"
                                    ],
                                    "type": "string"
                                },
                                "RefreshClosedReports": {
                                    "description": "Whether you want Amazon Web Services to update your reports after they have been finalized if Amazon Web Services detects charges related to previous months. These charges can include refunds, credits, or support fees.",
                                    "type": "boolean"
                                },
                                "ReportName": {
                                    "description": "The name of the report that you want to create. The name must be unique, is case sensitive, and can't include spaces. ",
                                    "maxLength": 256,
                                    "pattern": "[0-9A-Za-z!\\-_.*\\'()]+",
                                    "type": "string"
                                },
                                "ReportVersioning": {
                                    "description": "Whether you want Amazon Web Services to overwrite the previous version of each report or to deliver the report in addition to the previous versions.",
                                    "enum": [
                                        "CREATE_NEW_REPORT",
                                        "OVERWRITE_REPORT"
                                    ],
                                    "type": "string"
                                },
                                "S3Bucket": {
                                    "description": "The S3 bucket where AWS delivers the report.",
                                    "maxLength": 256,
                                    "type": "string"
                                },
                                "S3Prefix": {
                                    "description": "The prefix that AWS adds to the report name when AWS delivers the report. Your prefix can't include spaces.",
                                    "maxLength": 256,
                                    "pattern": "[0-9A-Za-z!\\-_.*\\'()/]*",
                                    "type": "string"
                                },
                                "S3Region": {
                                    "description": "The region of the S3 bucket that AWS delivers the report into.",
                                    "enum": [
                                        "us-east-1",
                                        "us-west-1",
                                        "us-west-2",
                                        "eu-central-1",
                                        "eu-west-1",
                                        "ap-southeast-1",
                                        "ap-southeast-2",
                                        "ap-northeast-1",
                                        "eu-north-1",
                                        "ap-northeast-3"
                                    ],
                                    "type": "string"
                                },
                                "TimeUnit": {
                                    "description": "The length of time covered by the report. ",
                                    "enum": [
                                        "HOURLY",
                                        "DAILY"
                                    ],
                                    "type": "string"
                                }
                            },
                            "required": [
                                "ReportName",
                                "TimeUnit",
                                "Format",
                                "Compression",
                                "AdditionalSchemaElements",
                                "S3Bucket",
                                "S3Prefix",
                                "S3Region"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "DuplicateReportNameException": {},
            "GenericString": {
                "description": "A generic string.",
                "type": "string"
            },
            "InternalErrorException": {},
            "MaxResults": {
                "description": "The maximum number of results that AWS returns for the operation.",
                "maximum": 5,
                "minimum": 5,
                "type": "integer"
            },
            "PutReportDefinitionRequest": {
                "description": "Creates a Cost and Usage Report.",
                "example": {
                    "ReportDefinition": {
                        "AdditionalArtifacts": [
                            "REDSHIFT",
                            "QUICKSIGHT"
                        ],
                        "AdditionalSchemaElements": [
                            "RESOURCES"
                        ],
                        "Compression": "ZIP",
                        "Format": "textORcsv",
                        "ReportName": "ExampleReport",
                        "S3Bucket": "example-s3-bucket",
                        "S3Prefix": "exampleprefix",
                        "S3Region": "us-east-1",
                        "TimeUnit": "DAILY"
                    }
                },
                "properties": {
                    "ReportDefinition": {
                        "description": "Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information. ",
                        "properties": {
                            "AdditionalArtifacts": {
                                "description": "A list of manifests that you want Amazon Web Services to create for this report.",
                                "items": {
                                    "description": "The types of manifest that you want AWS to create for this report.",
                                    "enum": [
                                        "REDSHIFT",
                                        "QUICKSIGHT",
                                        "ATHENA"
                                    ],
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            "AdditionalSchemaElements": {
                                "description": "A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs. ",
                                "items": {
                                    "description": "Whether or not AWS includes resource IDs in the report. ",
                                    "enum": [
                                        "RESOURCES"
                                    ],
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            "Compression": {
                                "description": "The compression format that AWS uses for the report.",
                                "enum": [
                                    "ZIP",
                                    "GZIP",
                                    "Parquet"
                                ],
                                "type": "string"
                            },
                            "Format": {
                                "description": "The format that AWS saves the report in.",
                                "enum": [
                                    "textORcsv",
                                    "Parquet"
                                ],
                                "type": "string"
                            },
                            "RefreshClosedReports": {
                                "description": "Whether you want Amazon Web Services to update your reports after they have been finalized if Amazon Web Services detects charges related to previous months. These charges can include refunds, credits, or support fees.",
                                "type": "boolean"
                            },
                            "ReportName": {
                                "description": "The name of the report that you want to create. The name must be unique, is case sensitive, and can't include spaces. ",
                                "maxLength": 256,
                                "pattern": "[0-9A-Za-z!\\-_.*\\'()]+",
                                "type": "string"
                            },
                            "ReportVersioning": {
                                "description": "Whether you want Amazon Web Services to overwrite the previous version of each report or to deliver the report in addition to the previous versions.",
                                "enum": [
                                    "CREATE_NEW_REPORT",
                                    "OVERWRITE_REPORT"
                                ],
                                "type": "string"
                            },
                            "S3Bucket": {
                                "description": "The S3 bucket where AWS delivers the report.",
                                "maxLength": 256,
                                "type": "string"
                            },
                            "S3Prefix": {
                                "description": "The prefix that AWS adds to the report name when AWS delivers the report. Your prefix can't include spaces.",
                                "maxLength": 256,
                                "pattern": "[0-9A-Za-z!\\-_.*\\'()/]*",
                                "type": "string"
                            },
                            "S3Region": {
                                "description": "The region of the S3 bucket that AWS delivers the report into.",
                                "enum": [
                                    "us-east-1",
                                    "us-west-1",
                                    "us-west-2",
                                    "eu-central-1",
                                    "eu-west-1",
                                    "ap-southeast-1",
                                    "ap-southeast-2",
                                    "ap-northeast-1",
                                    "eu-north-1",
                                    "ap-northeast-3"
                                ],
                                "type": "string"
                            },
                            "TimeUnit": {
                                "description": "The length of time covered by the report. ",
                                "enum": [
                                    "HOURLY",
                                    "DAILY"
                                ],
                                "type": "string"
                            }
                        },
                        "required": [
                            "ReportName",
                            "TimeUnit",
                            "Format",
                            "Compression",
                            "AdditionalSchemaElements",
                            "S3Bucket",
                            "S3Prefix",
                            "S3Region"
                        ],
                        "type": "object"
                    }
                },
                "required": [
                    "ReportDefinition"
                ],
                "type": "object"
            },
            "PutReportDefinitionResponse": {
                "description": "If the action is successful, the service sends back an HTTP 200 response with an empty HTTP body.",
                "properties": {},
                "type": "object"
            },
            "RefreshClosedReports": {
                "type": "boolean"
            },
            "ReportDefinition": {
                "description": "The definition of AWS Cost and Usage Report. You can specify the report name, time unit, report format, compression format, S3 bucket, additional artifacts, and schema elements in the definition. ",
                "properties": {
                    "AdditionalArtifacts": {
                        "description": "A list of manifests that you want Amazon Web Services to create for this report.",
                        "items": {
                            "description": "The types of manifest that you want AWS to create for this report.",
                            "enum": [
                                "REDSHIFT",
                                "QUICKSIGHT",
                                "ATHENA"
                            ],
                            "type": "string"
                        },
                        "type": "array"
                    },
                    "AdditionalSchemaElements": {
                        "description": "A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs. ",
                        "items": {
                            "description": "Whether or not AWS includes resource IDs in the report. ",
                            "enum": [
                                "RESOURCES"
                            ],
                            "type": "string"
                        },
                        "type": "array"
                    },
                    "Compression": {
                        "description": "The compression format that AWS uses for the report.",
                        "enum": [
                            "ZIP",
                            "GZIP",
                            "Parquet"
                        ],
                        "type": "string"
                    },
                    "Format": {
                        "description": "The format that AWS saves the report in.",
                        "enum": [
                            "textORcsv",
                            "Parquet"
                        ],
                        "type": "string"
                    },
                    "RefreshClosedReports": {
                        "description": "Whether you want Amazon Web Services to update your reports after they have been finalized if Amazon Web Services detects charges related to previous months. These charges can include refunds, credits, or support fees.",
                        "type": "boolean"
                    },
                    "ReportName": {
                        "description": "The name of the report that you want to create. The name must be unique, is case sensitive, and can't include spaces. ",
                        "maxLength": 256,
                        "pattern": "[0-9A-Za-z!\\-_.*\\'()]+",
                        "type": "string"
                    },
                    "ReportVersioning": {
                        "description": "Whether you want Amazon Web Services to overwrite the previous version of each report or to deliver the report in addition to the previous versions.",
                        "enum": [
                            "CREATE_NEW_REPORT",
                            "OVERWRITE_REPORT"
                        ],
                        "type": "string"
                    },
                    "S3Bucket": {
                        "description": "The S3 bucket where AWS delivers the report.",
                        "maxLength": 256,
                        "type": "string"
                    },
                    "S3Prefix": {
                        "description": "The prefix that AWS adds to the report name when AWS delivers the report. Your prefix can't include spaces.",
                        "maxLength": 256,
                        "pattern": "[0-9A-Za-z!\\-_.*\\'()/]*",
                        "type": "string"
                    },
                    "S3Region": {
                        "description": "The region of the S3 bucket that AWS delivers the report into.",
                        "enum": [
                            "us-east-1",
                            "us-west-1",
                            "us-west-2",
                            "eu-central-1",
                            "eu-west-1",
                            "ap-southeast-1",
                            "ap-southeast-2",
                            "ap-northeast-1",
                            "eu-north-1",
                            "ap-northeast-3"
                        ],
                        "type": "string"
                    },
                    "TimeUnit": {
                        "description": "The length of time covered by the report. ",
                        "enum": [
                            "HOURLY",
                            "DAILY"
                        ],
                        "type": "string"
                    }
                },
                "required": [
                    "ReportName",
                    "TimeUnit",
                    "Format",
                    "Compression",
                    "AdditionalSchemaElements",
                    "S3Bucket",
                    "S3Prefix",
                    "S3Region"
                ],
                "type": "object"
            },
            "ReportDefinitionList": {
                "description": "A list of report definitions.",
                "items": {
                    "description": "The definition of AWS Cost and Usage Report. You can specify the report name, time unit, report format, compression format, S3 bucket, additional artifacts, and schema elements in the definition. ",
                    "properties": {
                        "AdditionalArtifacts": {
                            "description": "A list of manifests that you want Amazon Web Services to create for this report.",
                            "items": {
                                "description": "The types of manifest that you want AWS to create for this report.",
                                "enum": [
                                    "REDSHIFT",
                                    "QUICKSIGHT",
                                    "ATHENA"
                                ],
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "AdditionalSchemaElements": {
                            "description": "A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs. ",
                            "items": {
                                "description": "Whether or not AWS includes resource IDs in the report. ",
                                "enum": [
                                    "RESOURCES"
                                ],
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "Compression": {
                            "description": "The compression format that AWS uses for the report.",
                            "enum": [
                                "ZIP",
                                "GZIP",
                                "Parquet"
                            ],
                            "type": "string"
                        },
                        "Format": {
                            "description": "The format that AWS saves the report in.",
                            "enum": [
                                "textORcsv",
                                "Parquet"
                            ],
                            "type": "string"
                        },
                        "RefreshClosedReports": {
                            "description": "Whether you want Amazon Web Services to update your reports after they have been finalized if Amazon Web Services detects charges related to previous months. These charges can include refunds, credits, or support fees.",
                            "type": "boolean"
                        },
                        "ReportName": {
                            "description": "The name of the report that you want to create. The name must be unique, is case sensitive, and can't include spaces. ",
                            "maxLength": 256,
                            "pattern": "[0-9A-Za-z!\\-_.*\\'()]+",
                            "type": "string"
                        },
                        "ReportVersioning": {
                            "description": "Whether you want Amazon Web Services to overwrite the previous version of each report or to deliver the report in addition to the previous versions.",
                            "enum": [
                                "CREATE_NEW_REPORT",
                                "OVERWRITE_REPORT"
                            ],
                            "type": "string"
                        },
                        "S3Bucket": {
                            "description": "The S3 bucket where AWS delivers the report.",
                            "maxLength": 256,
                            "type": "string"
                        },
                        "S3Prefix": {
                            "description": "The prefix that AWS adds to the report name when AWS delivers the report. Your prefix can't include spaces.",
                            "maxLength": 256,
                            "pattern": "[0-9A-Za-z!\\-_.*\\'()/]*",
                            "type": "string"
                        },
                        "S3Region": {
                            "description": "The region of the S3 bucket that AWS delivers the report into.",
                            "enum": [
                                "us-east-1",
                                "us-west-1",
                                "us-west-2",
                                "eu-central-1",
                                "eu-west-1",
                                "ap-southeast-1",
                                "ap-southeast-2",
                                "ap-northeast-1",
                                "eu-north-1",
                                "ap-northeast-3"
                            ],
                            "type": "string"
                        },
                        "TimeUnit": {
                            "description": "The length of time covered by the report. ",
                            "enum": [
                                "HOURLY",
                                "DAILY"
                            ],
                            "type": "string"
                        }
                    },
                    "required": [
                        "ReportName",
                        "TimeUnit",
                        "Format",
                        "Compression",
                        "AdditionalSchemaElements",
                        "S3Bucket",
                        "S3Prefix",
                        "S3Region"
                    ],
                    "type": "object"
                },
                "type": "array"
            },
            "ReportFormat": {
                "description": "The format that AWS saves the report in.",
                "enum": [
                    "textORcsv",
                    "Parquet"
                ],
                "type": "string"
            },
            "ReportLimitReachedException": {},
            "ReportName": {
                "description": "The name of the report that you want to create. The name must be unique, is case sensitive, and can't include spaces. ",
                "maxLength": 256,
                "pattern": "[0-9A-Za-z!\\-_.*\\'()]+",
                "type": "string"
            },
            "ReportVersioning": {
                "enum": [
                    "CREATE_NEW_REPORT",
                    "OVERWRITE_REPORT"
                ],
                "type": "string"
            },
            "S3Bucket": {
                "description": "The S3 bucket where AWS delivers the report.",
                "maxLength": 256,
                "type": "string"
            },
            "S3Prefix": {
                "description": "The prefix that AWS adds to the report name when AWS delivers the report. Your prefix can't include spaces.",
                "maxLength": 256,
                "pattern": "[0-9A-Za-z!\\-_.*\\'()/]*",
                "type": "string"
            },
            "SchemaElement": {
                "description": "Whether or not AWS includes resource IDs in the report. ",
                "enum": [
                    "RESOURCES"
                ],
                "type": "string"
            },
            "SchemaElementList": {
                "description": "A list of strings that indicate the content that is included in the report, such as service or usage type.",
                "items": {
                    "description": "Whether or not AWS includes resource IDs in the report. ",
                    "enum": [
                        "RESOURCES"
                    ],
                    "type": "string"
                },
                "type": "array"
            },
            "TimeUnit": {
                "description": "The length of time covered by the report. ",
                "enum": [
                    "HOURLY",
                    "DAILY"
                ],
                "type": "string"
            },
            "ValidationException": {}
        },
        "parameters": {
            "Action": {
                "in": "query",
                "name": "Action",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "Version": {
                "in": "query",
                "name": "Version",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Algorithm": {
                "in": "header",
                "name": "X-Amz-Algorithm",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Content-Sha256": {
                "in": "header",
                "name": "X-Amz-Content-Sha256",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Credential": {
                "in": "header",
                "name": "X-Amz-Credential",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Date": {
                "in": "header",
                "name": "X-Amz-Date",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Security-Token": {
                "in": "header",
                "name": "X-Amz-Security-Token",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Signature": {
                "in": "header",
                "name": "X-Amz-Signature",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-SignedHeaders": {
                "in": "header",
                "name": "X-Amz-SignedHeaders",
                "required": false,
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "hmac": {
                "description": "Amazon Signature authorization v4",
                "in": "header",
                "name": "Authorization",
                "type": "apiKey",
                "x-amazon-apigateway-authtype": "awsSigv4"
            }
        }
    }
}